* {
    margin: 0;
    font-family: "Montserrat";
    border: border-box;
    box-sizing: border-box;
  }
  .navbar{
    height: 109px;
    width: 100;
    display: flex;
    align-items: center;
  }
  .logo{
    margin-left: 120px;
    margin-right: 90px;
    height: 60px;
    width: 340px;
    background-size: cover;
  }
  .navmid{
    display: flex;
    margin: 10px;
    align-items: center;
    margin-left: 130px;
  }
  .Home{
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  padding: 5px 20px 5px 20px;
    height: 40px;
    font-weight: 500;
    width: 120;
    align-items: center;
    font-size: 15px;
    display: flex;
    border-bottom: 2px solid blue; 
    cursor: pointer;
  }
.Services{
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  padding: 5px 20px 5px 20px;
    height: 40px;
    font-weight: 500;
    width: 120;
    align-items: center;
    font-size: 15px;
    display: flex;
    cursor: pointer;
    position: relative;

}
.Services:hover{
  border-bottom: 2px solid blue;
  transition-duration: 1s;
  transition: all ease-in-out 250ms;
  .dropserv{
    display: block;
    transition: all ease-in-out 200ms;
    transition-duration: 1s;
  }
}
.dropserv{
  height: 150px;
  width: 230px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 42px;
  display: none;
  transition: all ease-in-out 200ms;
  transition-duration: 1s;
}
.dropserv a{
  color: white;
  display: block;
  text-align: left;
  padding: 8px 0 10px 15px;
  font-size: 15px;
  text-decoration: none;
  transition: all ease-in-out 200ms;
}
.Our{
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  padding: 5px 20px 5px 20px;
    height: 40px;
    font-weight: 500;
    width: 120;
    align-items: center;
    font-size: 15px;
    display: flex;
    cursor: pointer;
}
.Our:hover{
  border-bottom: 2px solid blue;
  transition-duration: 1s;
  transition: all ease-in-out 250ms;
}
.Contact{
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  padding: 5px 20px 5px 20px;
    height: 40px;
    font-weight: 500;
    width: 120;
    align-items: center;
    font-size: 15px;
    display: flex;
    cursor: pointer;
}
.Contact:hover{
  border-bottom: 2px solid blue;
  transition-duration: 1s;
  transition: all ease-in-out 250ms;
}
.bookus button{
  height: 48px;
  width: 140px;
  border-radius: 10px;
  border: 0px;
  background-color: #3A5BCC;
  color: white;
  margin-left: 400px;
  cursor: pointer;
}
.bookus button:hover{
  background-color: black;
  color: white;
  transition: all ease-in-out 250ms;
}
.page1cont{
  height: 730px;
  width: 100%;
  background-color: #f3f4f6;
  margin: 0;
}
.page1{
  width: 85%;
  height: 650px;
  /* background-color: yellow; */
   margin: 0 120px 80px 120px;
   padding-top: 80px;
   display: flex;
}
.heading{
  padding-top: 20px;
  width: 60%;
  height: 130px;
  border-left: 1px solid blue;
}
.heading h3{
  font-size: 38px;
  width: 720px;
}
.firsthead{
  margin-left: 10%;
  display: inline-block;
  width: 700px;
}
.sechead{
  align-items: center;
  margin-left: 20%;
  display: inline-block;
}
.secp{
  margin-top: 20px;
  width: 100%;
}
.cname{
  height: 100;
  width: 20%;
  left: 0;
  float: right;
}
.firstp{
  display: flex;
}
.left{
  width: 800px;
  height: 500px;
  /* background-color: yellow; */
  display: flex;

}
.left p{
  width: 800px;
}
.right{
  padding-left: 50px;
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.cname{
width: 600px;
height: 80px;
display: flex;
flex-direction: column;
}
.cnameholder input{
  padding: 15px 200px 15px 10px;
  display: flex;
  width: 600px;
  border-radius: 10px;
  border: none; 
  outline: none;
  font-size: 13px;
}
.textcname{
  height: 30px;
  width: 140px;
  font-weight: 550;
  font-size: 16px;
  cursor: pointer;
}
.Name{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.nametext{
  height: 30px;
  width: 140px;
  font-weight: 550;
  font-size: 16px;
  cursor: pointer;
}
.nameholder input{
  padding: 15px 200px 15px 10px;
  display: flex;
  width: 600px;
  border-radius: 10px;
  border: none; 
  outline: none;
  font-size: 13px;
}
.email{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.emailtext{
  height: 30px;
  width: 140px;
  font-weight: 550;
  font-size: 16px;
  cursor: pointer;
}
.emailholder input{
  padding: 15px 200px 15px 10px;
  display: flex;
  width: 600px;
  border-radius: 10px;
  border: none; 
  outline: none;
  font-size: 13px;
}
.phone{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.phtext{
  height: 30px;
  width: 140px;
  font-weight: 550;
  font-size: 16px;
  cursor: pointer;
}
.phholder input{
  padding: 15px 200px 15px 10px;
  display: flex;
  width: 600px;
  border-radius: 10px;
  border: none; 
  outline: none;
  font-size: 13px;
}
#business input{types:"checkbox"}:checked{
  background-color: gray;
}
.optiontext{
  height: 38px;
  width: 283px;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  font-size: 17px;
  font-weight: 550;
}
.choose1{
  width: 426px;
  height: 25px;
  display: flex;
  align-items: center;
}
.choose2{
  width: 426px;
  height: 25px;
  display: flex;
  align-items: center;
}
.choose3{
  width: 426px;
  height: 25px;
  display: flex;
  align-items: center;
}
.choose4{
  width: 426px;
  height: 25px;
  display: flex;
  align-items: center;
}
.reqcall{
  width: 600px;
  margin-top: 20px;
}
.reqcall button{
  padding: 18px 200px 18px 200px;
  background-color: #395bcc;
  width: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.reqcall button:hover{
  background-color: black;
  transition: all ease-in-out 150ms;
}

/* page2 */

.page2cont{
  width: 100%;
  height: 1000px;
  background-color: black;
  justify-content: center;
  display: flex;
}
.page2top{
  width: 1433px;
  height: 500px;
    margin-top: 120px;
    display: flex;
}
.left2{
  height: 500px;
  width: 686px;

}
.left2 img{
  height: 500px;
  width: 680px;
  background-size: cover;
}
.right2{
  width: 700px;
  height: 500px;
  padding-left: 47px;
}
.aboutus{
  height: 24px;
  width: 600px;
  padding-top: 40px;
}
.aboutus h3{
  color: white;
  padding-left: 10px;
}
.rightmain{
  width: 600px;
  height: 100px;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.rightmain h2{
  width: 615px;
  height: 120px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 42px;
}
.rightstat{
  margin-top: 20px;
  height: 280px;
  width: 100%;
}
.fsttext{
  width: 554px;
  height: 30px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.fststat{
  margin-top: 8px;
  width: 600px;
  height: 10px;
  background-color: white;
  position: relative;
}
.fstblue{
  height: 10px;
  width: 500px;
  background-color: #3A5BCC;
}
.txtstatsec{
  margin-top: 20px;
  width: 554px;
  height: 30px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.secstat{
  margin-top: 8px;
  width: 600px;
  height: 10px;
  background-color: white;
  position: relative;
}
.secstatblue{
  height: 10px;
  width: 575px;
  background-color: #3A5BCC;
}
.txtstattrd{
  margin-top: 20px;
  width: 554px;
  height: 30px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.trdstatt{
  margin-top: 8px;
  width: 600px;
  height: 10px;
  background-color: white;
  position: relative;
} 
.trdstatblue{
  height: 10px;
  width: 530px;
  background-color: #3A5BCC;
  position: absolute;
}
.txtstatfrth{
  margin-top: 20px;
  width: 554px;
  height: 30px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.frthstatt{
  margin-top: 8px;
  width: 600px;
  height: 10px;
  background-color: white;
  position: relative;
}
.frthstatblue{
  height: 10px;
  width: 590px;
  background-color: #3A5BCC;
  position: absolute;
}
.page2btm{
  height: 230px;
  width: 1433px;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
}
.p2btmleft{
  width: 499px;
  height: 230px;
  margin-left: 80px;
}
.vision{
  width: 499px;
  height: 50px;
}
.vision h4{
  color: white;
  font-size: 27px;
}
.visionpara{
  height: 75px;
  width: 499px;
  color: white;
  font-size: 19px;
}
.btnlm{
  margin-top: 20px;
}
.btnlm button{
  padding: 18px 40px 18px 40px;
  border-radius: 10px;
  background-color: #395bcc;
  color: #f3f4f6;
  border: none;
  font-size: 17px;
}
.btnlm button:hover{
  background-color: white;
  transition: all ease-in-out 150ms;
  color: black;
  cursor: pointer;
}
.p2btmright{
  height: 210px;
  width: 700px;
  /* background-color: blue; */
  /* display: flex; */
  margin-left: 50px;
}
.mission{
  height: 30px;
  width: 100%;
  color: white;
  font-size: 27px
}
.mission h4{
  width: 100%;
}
.p2btlow{
  display: flex;
}
.firstgraph{
  height: 150px;
  width: 170px;
  /* background-color: #3A5BCC; */
  margin-top: 20px;
}
.iconholder{
  height: 70px;
  width: 70px;
  border-radius: 8px;
  background-color: #898989;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icongraph i{
  font-size: 30px;
  color: white;
}
.fgtxt a{
  text-decoration: none;
  color: #f3f4f6;
  margin-top: 10px;
}
.fgtxt{
  padding-top: 10px;
}
.fgtxt a:hover{
  color: #3A5BCC;
}
.iconholder:hover{
  cursor: pointer;
}
.secgraph{
  height: 150px;
  width: 170px;
  /* background-color: #3A5BCC; */
  margin-top: 20px;
}
.secholder{
  height: 70px;
  width: 70px;
  border-radius: 8px;
  background-color: #898989;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secicongraph i{
  font-size: 30px;
  color: white;
}
.sectxt a{
  text-decoration: none;
  color: #f3f4f6;
  margin-top: 10px;
}
.sectxt{
  padding-top: 10px;
}
.sectxt a:hover{
  color: #3A5BCC;
}
.secholder:hover{
  cursor: pointer;
}
.rdgraph{
  height: 150px;
  width: 170px;
  /* background-color: #3A5BCC; */
  margin-top: 20px;
}
.rdholder{
  height: 70px;
  width: 70px;
  border-radius: 8px;
  background-color: #898989;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rdicongraph i{
  font-size: 30px;
  color: white;
}
.rdtxt a{
  text-decoration: none;
  color: #f3f4f6;
  margin-top: 10px;
}
.rdtxt{
  padding-top: 10px;
}
.rdtxt a:hover{
  color: #3A5BCC;
}
.rdholder:hover{
  cursor: pointer;
}
.thgraph{
  height: 150px;
  width: 170px;
  /* background-color: #3A5BCC; */
  margin-top: 20px;
}
.thholder{
  height: 70px;
  width: 70px;
  border-radius: 8px;
  background-color: #898989;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thicongraph i{
  font-size: 30px;
  color: white;
}
.thtxt a{
  text-decoration: none;
  color: #f3f4f6;
  margin-top: 10px;
}
.thtxt{
  padding-top: 10px;
}
.thtxt a:hover{
  color: #3A5BCC;
}
.thholder:hover{
  cursor: pointer;
}
