*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 700px;
    width: 100;
    display: flex;
    align-items: center;
}
.navbar img{
    background-size: cover;
    width: 87px;
    height: 20px;
    margin-left: 20px;
    color: white;
}
.main{
    background-size: cover;
    height: 700px;
    width: 100;
}

.midnav{
    height: 20px;
    width: 50;
    color: black;
    margin-left: 400px;
    display: flex;
}


.research{
    font-size: 11px;
    font-weight: 800;
    padding: 0 15px 0 15px;
}
.research:hover{
    cursor: pointer;
}
.product{
    font-size: 11px;
    font-weight: 800;
    padding: 0 15px 0 15px;
}
.product:hover{
    cursor: pointer;
}
.studios{
    font-size: 11px;
    font-weight: 800;
    padding: 0 15px 0 15px;
}
.studios:hover{
    cursor: pointer;
}
.company{
    font-size: 11px;
    font-weight: 800;
    padding: 0 15px 0 15px;
}
.company:hover{
    cursor: pointer;
}
.getstarted{
    margin-left: 370px;
}
.getstarted button{
    border-radius: 22px;
    font-size: 14px;
    padding: 9px;
    font-weight: 600;
    background-color: transparent;
}

.getstarted button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition-duration: 280ms;
    transition-timing-function: ease-in;
}
